@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(222, 228, 239);
  font-family: "Poppins", sans-serif;
}

.p-container {
    margin: 25% auto;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cookiePopup {
  background-color: aliceblue;
  position: absolute;
  font-size: 14px;
  width: 70vw;
  max-width: 42.85em;
  box-shadow: 0 0 2em rgba(5, 0, 31, 0.15);
  text-align: justify;
  line-height: 1.8em;
  margin: 20px;
  padding: 2em 1.4em;
  border-radius: 6px;
  transition: all 0.5s ease-in;
}

#cookiePopup img {
  display: block;
  width: 3.75em;
  transform: translateZ(0);
  position: relative;
  margin: auto;
}

#cookiePopup p {
  text-align: center;
  margin: 1.4em 0;
}

#cookiePopup button {
  background-color: blueviolet;
  border: none;
  color: #ffffff;
  font-size: 1.2em;
  padding: 1em 1.4em;
  display: block;
  position: relative;
  margin: auto;
  border-radius: 5px;
}

#cookiePopup a {
  color: blueviolet;
}

.hide {
  visibility: hidden;
  bottom: 2em;
  right: 2em;
}

.show {
  visibility: visible;
  bottom: 2em;
  right: 2em;
}

@media (max-width: 37.5em) {
  #cookiePopup {
    width: 100%;
  }
  .hide {
    bottom: 2em;
    right: 0;
  }
  .show {
    right: 0;
    bottom: 0;
  }
}
